<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
<head>
<meta charset="UTF-8">
<title>숙직실 목록</title>
</head>  
<body>
<main class="main" id="top" layout:fragment="content">
<div class="mb-3">
	<div class="d-flex justify-content-start align-items-center mb-2">
		<i class="fas fa-bed me-2"></i>
		<span class="fw-bold fs-7">숙직실 목록</span>
	</div>

	<div id="sleeproomTable" data-list='{"valueNames":["no","sleep","capacity","date"], "page": 5, "pagination": true}'>
		<!-- 검색창 + 추가 버튼 영역 -->
		<div class="position-relative mb-3" style="min-height: 38px;"> <!-- 버튼 높이 확보 -->
			<!-- 검색창 (가운데 정렬) -->
			<div class="d-flex justify-content-center">
				<form class="position-relative" style="width: 300px;">
					<input class="form-control search-input search form-control-sm" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
					<svg class="svg-inline--fa fa-magnifying-glass search-box-icon position-absolute top-50 end-0 translate-middle-y me-2"
					  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img"
					  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="pointer-events: none; height:40%;">
						<path fill="currentColor"
						  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
						</path>
					</svg>
				</form>
			</div>
			<!-- 추가 버튼 (오른쪽 고정) -->
			<button class="btn btn-sm btn-primary position-absolute top-0 end-0" type="button"
				data-bs-toggle="modal" data-bs-target="#addSleepModal">
			 	숙직실 등록
			</button>
		</div>
	    <!-- 테이블 본문 -->
	    <div class="table-responsive">
			<table class="table table-striped table-sm fs-9 mb-0 text-center">
				<thead class="text-center align-middle">
					<tr>
						<th class="sort" data-sort="no" style="width: 5%;">번호</th>
						<th class="sort" data-sort="sleep" style="width: 25%;">숙직실</th>
						<th class="sort" data-sort="capacity" style="width: 20%;">수용 인원</th>
						<th class="sort" data-sort="date" style="width: 20%;">등록일</th>
						<th style="width: 10%;"></th>
					</tr>
				</thead>
				<tbody class="list align-middle">
					<!-- 숙직실 1 -->
					<tr class="align-middle">
						<td class="no">1</td>
						<td class="sleep">숙직실A[2층 1호]</td>
						<td class="capacity">4명</td>
						<td class="date">2025-04-10</td>
						<td class="text-end pe-0">
							<div class="btn-reveal-trigger position-static">
								<button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
									<i class="fas fa-ellipsis fs-10"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end py-2">
									<a class="dropdown-item" href="#!">수정</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item text-danger" href="#!">삭제</a>
								</div>
							</div>
						</td>
					</tr>
					<!-- 숙직실 2 -->
					<tr class="align-middle">
						<td class="no">2</td>
						<td class="sleep">숙직실B[3층 2호]</td>
						<td class="capacity">4명</td>
						<td class="date">2025-04-10</td>
						<td class="text-end pe-0">
							<div class="btn-reveal-trigger position-static">
								<button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
									<i class="fas fa-ellipsis fs-10"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end py-2">
									<a class="dropdown-item" href="#!">수정</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item text-danger" href="#!">삭제</a>
								</div>
							</div>
						</td>
					</tr>
					<!-- 숙직실 3 -->
					<tr class="align-middle">
						<td class="no">3</td>
						<td class="sleep">숙직실C[4층 3호]</td>
						<td class="capacity">4명</td>
						<td class="date">2025-04-10</td>
						<td class="text-end pe-0">
							<div class="btn-reveal-trigger position-static">
								<button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
									<i class="fas fa-ellipsis fs-10"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end py-2">
									<a class="dropdown-item" href="#!">수정</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item text-danger" href="#!">삭제</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	    </div><!-- table-responsive -->
	
		<!-- 페이징? -->
		<div class="d-flex justify-content-center mt-3">
			<div class="d-flex">
				<button class="page-link disabled" data-list-pagination="prev" disabled><i class="fas fa-chevron-left"></i></button>
				<ul class="mb-0 pagination">
					<li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li>
				</ul>
				<button class="page-link pe-0" data-list-pagination="next" disabled><i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</div><!-- sleeproomTable -->    
</div><!-- mb-3 --> 
   
<hr>
<!-- 숙직실 예약 목록 -->  
<div class="mb-3">
	<div class="d-flex justify-content-start align-items-center mb-2">
		<i class="fas fa-edit me-2"></i>
		<span class="fw-bold fs-7"> 숙직실 예약 현황</span>
	</div>

	<div id="reservationTable" data-list='{"valueNames":["no","sleep","reservation","capacity","date"], "page": 5, "pagination": true}'>
		<!-- 검색창 + 추가 버튼 영역 -->
		<div class="position-relative mb-3" style="min-height: 38px;"> <!-- 버튼 높이 확보 -->
			<!-- 검색창 (가운데 정렬) -->
			<div class="d-flex justify-content-center">
				<form class="position-relative" style="width: 300px;">
				<input class="form-control search-input search form-control-sm" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
					<svg class="svg-inline--fa fa-magnifying-glass search-box-icon position-absolute top-50 end-0 translate-middle-y me-2"
					  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img"
					  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="pointer-events: none; height:40%;">
						<path fill="currentColor"
						  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
						</path>
					</svg>
				</form>
			</div>
		</div>
	    <!-- 테이블 본문 -->
	    <div class="table-responsive">
			<table class="table table-striped table-sm fs-9 mb-0 text-center">
				<thead class="text-center align-middle">
					<tr>
						<th class="sort" data-sort="no" style="width: 5%;">번호</th>
						<th class="sort" data-sort="sleep" style="width: 30%;">숙직실</th>
						<th class="sort" data-sort="reservation" style="width: 15%;">예약자</th>
						<th class="sort" data-sort="capacity" style="width: 10%;">인원</th>
						<th class="sort" data-sort="date" style="width: 20%;">예약일</th>
						<th class="sort" data-sort="time" style="width: 20%;">예약 시간</th>
					</tr>
				</thead>
				<tbody class="list align-middle">
					<!-- 숙직실 1 -->
					<tr>
						<td class="no">1</td>
						<td class="sleep">숙직실A[2층 1호]</td>
						<td class="reservation">이예준</td>
						<td class="capacity">1</td>
						<td class="date">2025-04-11</td>
						<td class="time">00:00 ~ 08:00</td>
					</tr>
					<!-- 숙직실 2 -->
					<tr>
						<td class="no">2</td>
						<td class="sleep">숙직실B[3층 2호]</td>
						<td class="reservation">조은성</td>
						<td class="capacity">1</td>
						<td class="date">2025-04-10</td>
						<td class="time">00:00 ~ 08:00</td>
					</tr>
					<!-- 숙직실 3 -->
					<tr>
						<td class="no">3</td>
						<td class="sleep">숙직실C[4층 3호]</td>
						<td class="reservation">전홍식</td>
						<td class="capacity">1</td>
						<td class="date">2025-04-17</td>
						<td class="time">00:00 ~ 07:00</td>
					</tr>
				</tbody>
			</table>
	    </div><!-- table-responsive -->
	
	    <!-- 페이징? -->
	    <div class="d-flex justify-content-center mt-3">
	     <!--  <span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 4 <span class="text-body-tertiary"> Items of </span>4</span> -->
	      <div class="d-flex">
	        <button class="page-link disabled" data-list-pagination="prev" disabled><i class="fas fa-chevron-left"></i></button>
	        <ul class="mb-0 pagination">
	          <li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li>
	        </ul>
	        <button class="page-link pe-0" data-list-pagination="next" disabled><i class="fas fa-chevron-right"></i></button>
	      </div>
	    </div>
	</div><!-- reservationTable -->    
</div> <!-- mb-3 -->      

<!-- 숙직실 추가 모달 -->
<div class="modal fade" id="addSleepModal" tabindex="-1" aria-labelledby="addSleepModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title" id="addSleepModalLabel">숙직실 등록</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- 바디 -->
			<div class="modal-body">
				<form id="addSleepForm">
					<div class="mb-3">
						<label for="sleepName" class="form-label">숙직실</label>
						<input type="text" class="form-control form-control-sm" id="sleepName" placeholder="예: 숙직실A[2층 1호]">
					</div>
					
					<div class="mb-3">
						<label for="sleepCapacity" class="form-label">수용 인원</label>
						<input type="number" class="form-control form-control-sm" id="sleepCapacity" placeholder="예: 10">
					</div>
				</form>
			</div>
			<!-- 푸터 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">닫기</button>
				<button type="submit" class="btn btn-primary btn-sm" form="addSleepForm">등록</button>
			</div>
		</div>
	</div>
</div>

</main>
</body>
</html>