<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/include/layout}">
<head>
<meta charset="UTF-8">
<title>차량 목록</title>
</head>

<body>
	<main class="main" id="top" layout:fragment="content">
		

		<div class="row">
			<!--  차량 예약 목록 (왼쪽) -->
			<div class="col-md-6">
				<div class="mb-3">
					<div class="d-flex align-items-center mb-2">
						<i class="fas fa-car me-2"></i> <span class="fw-bold fs-7">
							차량 예약</span>
					</div>

					<div id="vehicleTable"
						data-list='{"valueNames":["no","vehicle","passengers","date"], "page": 5, "pagination": true}'>
						<div class="table-responsive">
							<table class="table table-striped table-sm fs-9 mb-0 text-center">
								<thead class="text-center align-middle">
									<tr>
										<th class="sort" data-sort="no" style="width: 5%;">번호</th>
										<th class="sort" data-sort="vehicle" style="width: 25%;">차량</th>
										<th class="sort" data-sort="passengers" style="width: 20%;">탑승
											인원</th>
										<th class="sort" data-sort="date" style="width: 20%;">등록일</th>
										<th style="width: 10%;"></th>
									</tr>
								</thead>
								<tbody class="list align-middle">
									<tr th:if="${#lists.isEmpty(list)}">
										<td colspan="4">등록된 차량이 없습니다 😓</td>
									</tr>
									<tr class="align-middle vehicle-row" th:if="${!#lists.isEmpty(list)}"
										th:each="result, resultstatus : ${list}">
										<td class="no" th:text="${resultstatus.count}"></td>
										<td class="vehicle" th:text="${result.facilityName}"></td>
										<td class="passengers" th:text="${result.facilityCapacity}"></td>
										<td class="date"
											th:text="${#temporals.format(result.facilityRegDate, 'yy-MM-dd')}"></td>
										<td class="text-end pe-0"><button
												class="btn btn-sm btn-outline-primary"
												data-bs-toggle="modal" data-bs-target="#addEventModal"
												th:attr="data-facility-no=${result.facilityNo}">
												예약하기</button></td>
									</tr>
								</tbody>
							</table>
							
							</div>
						<div class="modal fade" id="addEventModal" tabindex="-1">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content border border-translucent">
									<form id="addEventForm" autocomplete="off" name="addEventForm">
										<div class="modal-header px-card border-0">
											<h5 class="mb-0 text-body-highlight"> 차량 예약</h5>
											<button
												class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 mt-2 me-2 px-2 py-1"
												style="font-size: 0.9rem;" type="button"
												data-bs-dismiss="modal" aria-label="Close">×</button>
										</div>
										
										<script>
										  document.addEventListener("DOMContentLoaded", function () {
										    const modal = document.getElementById("addEventModal");
										    const facilityInput = document.getElementById("modalFacilityNo");
										
										    modal.addEventListener("show.bs.modal", function (event) {
										      const button = event.relatedTarget;
										      const facilityNo = button.getAttribute("data-facility-no");
										      console.log("facilityNo:", facilityNo); //  여기!
										      facilityInput.value = facilityNo;
										    });
										  });
										</script>

										<div class="modal-body p-4">

											<!-- 숨겨진 값들 -->
											<input type="hidden" name="employee_no"
												th:value="${#authentication.principal.employee.employeeNo}" />
											<input type="hidden" name="facility_no" id="modalFacilityNo" value="" /> 
											<input type="hidden" name="separator_code" value="F002" id="separator">
											<input type="hidden" name="reservation_creator"
												th:value="${#authentication.principal.employee.employeeId}" />

											<!-- 장소 -->
											<div class="mb-3">
												<label for="calendarLocation" class="form-label">
													목적지</label> <input type="text" class="form-control form-control-sm"
													id="calendarLocation" name="reservation_location"
													placeholder="목적지를 적어주세요" />
											</div>

											<!-- 시간 -->
											<div class="row g-2 mb-3">
												<div class="col">
													<label for="calendarStartTime" class="form-label">
														시작시간</label> <input type="datetime-local"
														class="form-control form-control-sm"
														id="calendarStartTime" name="reservation_start" />
												</div>
												<div class="col">
													<label for="calendarEndTime" class="form-label">
														종료시간</label> <input type="datetime-local"
														class="form-control form-control-sm" id="calendarEndTime"
														name="reservation_end" />
												</div>
											</div>

										</div>

										<div class="modal-footer border-0 px-4 pb-3">
											<button class="btn btn-primary w-100" type="submit">🚘
												예약하기</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<script>
							const form = document.addEventForm;
							form.addEventListener('submit',function(e){
								e.preventDefault();
								if(!form.reservation_location.value){
									alert('목적지를 입력해주세요!');
									return;
								}
								
								const payload = new FormData(form);
								fetch('/resvehicle/reservation',{
									method: 'post',
									headers: {
								        'header': document.querySelector('meta[name="_csrf_header"]').content,
								        'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
								     },
								    body: payload
								 })
								 .then(response => response.json())
								 .then(data => {
									 alert(data.res_msg);
									 if(data.res_code == 200){
										 location.reload();
									 }
								 })								
							})
							
						
						</script>









						<!-- 페이징 -->
						<div class="d-flex justify-content-center mt-3">
							<div class="d-flex">
								<button class="page-link disabled" data-list-pagination="prev"
									disabled>
									<i class="fas fa-chevron-left"></i>
								</button>
								<ul class="mb-0 pagination">
									<li class="active">
										<button class="page" type="button" data-i="1" data-page="5">1</button>
									</li>
								</ul>
								<button class="page-link pe-0" data-list-pagination="next"
									disabled>
									<i class="fas fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		
			
			



			<!-- 캘린더 (오른쪽) -->
			<div class="col-md-6">
				<div class="calendar-outline" id="appCalendar"
					style="height: 400px;"></div>
				</div>
			</div>





		<script>
		document.addEventListener('DOMContentLoaded', function () {
			  const calendarEl = document.getElementById('appCalendar');
			  const separator = document.getElementById('separator').value;
			  //console.log(separator+"!!!!!!!!!!!!!!!");
			  const calendar = new FullCalendar.Calendar(calendarEl, {
			      initialView: 'dayGridMonth',
			      locale: 'ko',
			      headerToolbar: {
			        left: 'prev,next today',
			        center: 'title',
			        right: ''
			      },
			      buttonText: {
			    	    today: '오늘' 
			    	  },
			      dayMaxEventRows: true,
			      views: {
			        dayGridMonth: {
			          dayMaxEventRows: 3,
			          moreLinkText: "더보기"		       
			          }
			      },
			      eventSources: [ //구글 캘린더로 공휴일 불러오기, 예약 현황 불러오기
			    	    {
			    	      events: function (fetchInfo, successCallback, failureCallback) {
			    	        fetch('/resvehicle/list' + separator)
			    	          .then(response => response.json())
			    	          .then(events => successCallback(events))
			    	          .catch(error => {
			    	            console.error("내 일정 불러오기 실패", error);
			    	            failureCallback(error);
			    	          });
			    	      }
			    	    },
			    	    {
			    	      events: function (fetchInfo, successCallback, failureCallback) {
			    	        const apiKey = 'AIzaSyCjXiu1ShbhE0XenBtciLx8ezU-mcZI0R0';
			    	        const calendarId = 'ko.south_korea%23holiday@group.v.calendar.google.com';
			    	        const timeMin = new Date(fetchInfo.start).toISOString();
			    	        const timeMax = new Date(fetchInfo.end).toISOString();
			    	        const url = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events?key=${apiKey}&timeMin=${timeMin}&timeMax=${timeMax}&orderBy=startTime&singleEvents=true`;

			    	        fetch(url)
			    	          .then(response => response.json())
			    	          .then(data => {
			    	            if (!data.items) {
			    	              console.warn("공휴일 데이터 없음", data);
			    	              return successCallback([]);
			    	            }
			    	            const holidays = data.items.map(item => ({
			    	              title: item.summary,
			    	              start: item.start.date,
			    	              allDay: true,
			    	              extendedProps: {
			    	            	    type: 'holiday'
			    	            	  }
			    	              
			    	            }));
			    	            successCallback(holidays);
			    	          })
			    	          .catch(error => {
			    	            console.error("공휴일 불러오기 실패", error);
			    	            failureCallback(error);
			    	          });
			    	      }
			    	    }
			    	  ],
			      eventDisplay: 'block',
			      dayCellContent: function (info) {
			        return info.date.getDate();
			      }
			  });

			  // setTimeout으로 약간 늦게 실행해주면 스타일 로딩 이후 안전하게 그려짐
				/* <head>에 있는 FullCalendar CSS 파일이 아직 로드 중이라
				캘린더는 그려졌지만 스타일이 적용되지 않은 상태로 나와버림. */
			  setTimeout(() => {
			    calendar.render();
			  }, 0); 
			});
		</script>
	</main>
</body>
</html>