<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
<head>
<style>
	.deals {
	  display: flex;
	  flex-wrap: wrap;
	  margin-left: 9rem;  /* ← 여기가 핵심 */
	  gap: 3rem;
	}
	
	.card-body {
	  height: 200px; /* 고정 높이! 필요하면 조절 가능 */
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between; /* 요소 사이 간격 자동 균형 */
	  padding: 1rem;
	}
</style>
</head>
  <body>
    <main class="main" id="top" layout:fragment="content">
      <!-- 여기에 요소 넣으면 됩니다. -->
      attendance/list 진입
            <div class="deals">
				<!-- 카드1 START -->
              <div class="deals-col me-4">
                  <div class="w-100 min-vh-50" data-sortable="data-sortable">
                      <div class="card mb-3">
                        <div class="card-body">
	                         
	                           <div class="deals-company-agent d-flex flex-between-center">
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Knitkake.inc</p>
	                            </div>
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Ally Aagaard</p>
	                            </div>
	                          </div>
	                          
	                           <div class="deals-company-agent d-flex flex-between-center">
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Knitkake.inc</p>
	                            </div>
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Ally Aagaard</p>
	                            </div>
	                          </div>
	                          
	                          <div class="deals-company-agent d-flex flex-between-center">
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Knitkake.inc</p>
	                            </div>
	                            <div class="d-flex align-items-center">
	                              <p class="text-body-secondary fw-bold fs-9 mb-0">Ally Aagaard</p>
	                            </div>
	                          </div>
	                          
                        </div>
                      </div>
                  </div>
              </div>
              <!-- 카드1 END -->
              
              
              <!-- 카드2 START -->
              <div class="deals-col me-4">

                  <div class="w-100 min-vh-50" data-sortable="data-sortable">
                   
                      <div class="card mb-3">
                        <div class="card-body">
                         
							 <div class="deals-company-agent d-flex flex-between-center">
							   <div class="d-flex align-items-center">
							     <p class="text-body-secondary fw-bold fs-9 mb-0">PBR Holdings</p>
							   </div>
							   <div class="d-flex align-items-center">
							     <p class="text-body-secondary fw-bold fs-9 mb-0">Aida Moen</p>
							   </div>
							 </div>
							<div class="deals-company-agent d-flex flex-between-center">
							   <div class="d-flex align-items-center">
							     <p class="text-body-secondary fw-bold fs-9 mb-0">PBR Holdings</p>
							   </div>
							   <div class="d-flex align-items-center">
							     <p class="text-body-secondary fw-bold fs-9 mb-0">Aida Moen</p>
							   </div>
							 </div>
                       	
                        </div>
                      </div>
                   
                  </div>
              </div>
			<!-- 카드2 END -->
            

            </div>

    </main>
  </body>
</html>