<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
  <body>
    <main class="main" id="top" layout:fragment="content">
    <div class="row align-items-center justify-content-between g-3 mb-4">
		<!-- 상단 제목 -->
		<div class="d-flex justify-content-start">
			<span class="fw-bold fs-6"  >임시 저장</span>
		</div>
	</div>
   <div id="mailSummary" data-list='{"valueNames":["senderName", "mailTitle", "mailContent", "sendTime"], "page":6, "pagination":true}'>
      <div class="row gx-lg-6 gx-3 py-4 z-2 position-sticky bg-body email-header">
            <div class="col-auto"><a class="btn btn-primary email-sidebar-width d-none d-lg-block" th:href="@{mailCreate}">메일 쓰기</a>
              <button class="btn px-3 btn-phoenix-secondary text-body-tertiary d-lg-none" data-phoenix-toggle="offcanvas" data-phoenix-target="#emailSidebarColumn"><span class="fa-solid fa-bars"></span></button>
            </div>
            <div class="col-auto d-lg-none"><a class="btn btn-primary px-3 px-sm-4" href="../../apps/email/compose.html"> <span class="d-none d-sm-inline-block">Compose</span><span class="d-sm-none fas fa-plus"></span></a></div>
	            <div class="col-auto flex-1">
	            <!-- 절반 검색 기능  -->
	              <div class="search-box w-100">
	                <form class="position-relative">
	                  <input class="form-control search-input search" type="search" placeholder="검색" aria-label="Search" />
	                  <span class="fas fa-search search-box-icon"></span>
	                </form>
	              </div>
	            </div>
       </div>
              <div class="px-lg-1">
                <div class="d-flex align-items-center flex-wrap position-sticky pb-2 bg-body z-2 email-toolbar inbox-toolbar">
                  <div class="d-flex align-items-center flex-1 me-2">
                    <button class="btn btn-sm p-0 me-2" type="button" onclick="location.reload()"><span class="text-primary fas fa-redo fs-10"></span></button>
                    <p class="fw-semibold fs-10 text-body-tertiary text-opacity-85 mb-0 lh-sm text-nowrap">새로 고침</p>
                  </div>
                  <div class="d-flex">
                  	<select class="form-control search-input search" onchange="location = this.value;">
                  		<option disabled selected>정렬 선택</option>
					    <option value="?sortOrder=latest" th:selected="${sortOrder == 'latest'}">최신순</option>
					    <option value="?sortOrder=oldest" th:selected="${sortOrder == 'oldest'}">오래된순</option>
					</select>
                  </div>
                </div>
                <!-- 범용성 생각해서 일단 보류 -->
                <div class="border-top border-translucent py-2 d-flex justify-content-between">
                  <div class="form-check mb-0 fs-8">
                    <input class="form-check-input" type="checkbox" data-bulk-select-row="data-bulk-select-row" />
                  </div>
                  <div>
                    <button class="btn p-0 me-2 text-body-quaternary hover text-body-tertiary text-opacity-85" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Archive"><span class="fas fa-archive fs-10"></span></button>
                    <button class="btn p-0 me-2 text-body-quaternary hover text-body-tertiary text-opacity-85" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete"><span class="fas fa-trash fs-10"></span></button>
                    <button class="btn p-0 me-2 text-body-quaternary hover text-body-tertiary text-opacity-85" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Star"><span class="fas fa-star fs-10"></span></button>
                    <button class="btn p-0 text-body-quaternary hover text-body-tertiary text-opacity-85" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tags"><span class="fas fa-tag fs-10"></span></button>
                  </div>
                </div>
                <!-- 범용성 생각해서 일단 보류 -->
                
                <!-- 메일 목록 스타트부분 -->
                <div th:if="${#lists.isEmpty(draftMailList)}">
                	<input type="text" value="내용이 없습니다.">
                </div>
                <div class="list">
                 <div class="border-top border-translucent hover-actions-trigger py-3"
                 		th:if="${!#lists.isEmpty(draftMailList)}"
                 		th:each="draftMail : ${draftMailList}">
                  <div class="row align-items-sm-center gx-2">
                    <div class="col-auto">
                      <div class="d-flex flex-column flex-sm-row">
                        <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-1" data-bulk-select-row="data-bulk-select-row" />
                        <!-- 별 박스 -->
                        <!-- <button class="btn p-0"><span class="fas text-warning fa-star"></span></button> -->
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="avatar avatar-s  rounded-circle">
                        <img class="rounded-circle " src="../../assets/img/team/60.webp" alt="" />

                      </div>
                    </div>
                    
                    
                    <div class="col-auto">
                    	 <div class="text-body-emphasis fw-bold inbox-link fs-9 senderName">
                    	 	<!-- 붉은 글씨  -->
                    	 	<span style="color: #d9534f; font-weight: bold;">임시저장됨</span>
                    	 	<span th:text="${draftMail.mailTitle}"></span>
                    	 	<!-- <span th:with="size=${#lists.size(draftMail.receivers)}">
                    	 	<span th:if="${size == 1}" th:text="${draftMail.receivers[0].receiver.employeeName}"></span>
					        <span th:if="${size > 1}">
						      <span th:text="${draftMail.receivers[0].receiver.employeeName}"></span>
						      <span th:text="' 외 ' + (${size} - 1) + '명'"></span>
						      
						    </span>
						    </span> -->
						    <!-- 마우스 호버 생각중  -->
					        <!-- <span th:each="receiver : ${sentMail.receivers}" 
					              th:text="${receiver.receiver.employeeName}"
					              th:append="' '" /></span> -->
					              <!-- 이쪽 코드오류남 -->
					              <!-- <span th:each="receiver : ${sentMail.receivers}" 
								      class="badge bg-secondary me-1">
								  <span th:text="${receiver.receiver.employeeName}"></span>
								</span> -->
								<!-- 이쪽 코드오류남 -->
					    </div>
                    </div>
                    <!-- 이메일 잘 나옴 -->
                    <!-- <p th:text="${sentMail.sender.directory.directoryEmail}"></p> -->
                    
                    <div class="col-auto ms-auto">
                      <!-- <div class="hover-actions end-0">
                        <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2">
                        <a class="dropdown-item" href="#!">⭐중요 표시</a>
                        <a class="dropdown-item" href="#!">🗑️휴지통</a>
                        <a class="dropdown-item text-danger" href="#!">삭제</a></div>
                      </div> -->
                      
                      
                      <!-- 04/17 나중에 시간 남으면 좀 더 구성해보기 일단 전체 시간 다 보이게 설정함 -->
                      <span class="fs-10 fw-bold sendTime" 
					      th:text="${#temporals.format(draftMail.mailSentTime, 'yyyy.MM.dd HH:mm:ss')}">
					  </span>
					
                    </div>
                  </div>
                  <!-- 내용 클릭하면 바로 작성하는 곳으로 이동 예정 -->
                  <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11">
                  	<!-- <a class="d-block inbox-link" th:href="@{/mail/detail}"> -->
                  	<!-- <a class="d-block inbox-link" th:href="@{/mail/detail/{id}(id=${draftMail.mailNo})}">
                  		<span class="fs-9 line-clamp-1 text-body-emphasis mailTitle"  th:text="${draftMail.mailTitle}"></span>
                  		<span class="fs-9 ps-0 text-body-tertiary mb-0 line-clamp-2 mailContent"  th:utext="${draftMail.mailContent}"></span>
                    </a> -->
                    <!-- <a th:href="@{/mail/draft/{id}(id=${draftMail.mailNo})}">test</a> -->
                    <a class="d-block inbox-link" th:href="@{/mail/mailCreateDraft/{id}(id=${draftMail.mailNo})}">
                    	<span class="fs-9 ps-0 text-body-tertiary mb-0 line-clamp-2 mailContent"  th:utext="${draftMail.mailContent}"></span>
                    </a>
                  </div>
                </div>
					</div>
                <!-- 페이징 -->
                     
					<div class="d-flex justify-content-center mt-3">
							<div class="d-flex">
								<button class="page-link disabled" data-list-pagination="prev"
									disabled>
									<i class="fas fa-chevron-left"></i>
								</button>
								<ul class="mb-0 pagination">
									<li class="active">
										<button class="page" type="button" data-i="1" data-page="5">1</button>
									</li>
								</ul>
								<button class="page-link pe-0" data-list-pagination="next"
									disabled>
									<i class="fas fa-chevron-right"></i>
								</button>
							</div>
						</div>
                </div>
                </div>
    </main>
   
  </body>
</html>