<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
<head>
<meta charset="UTF-8">
<title>협력업체 주소록</title>
</head>

  <body>
    <main class="main" id="top" layout:fragment="content">
    
  <div class="mb-3">
	    <div class="d-flex justify-content-start align-items-center mb-2">
	    <i class="fas fa-handshake text-secondary me-2"></i> <span class="fw-bold fs-7">협력업체 주소록</span>
	  </div>



  <div class="col" id="directoryEmployeeTable" data-list='{"valueNames":["no", "name", "companyName", "email", "phone", "department", "team", "position"], "page": 5, "pagination": true}'>
    
<!-- 검색창 + 추가 버튼 영역 -->
<div class="position-relative mb-3" style="min-height: 38px;"> <!-- 버튼 높이 확보 -->
  <!-- 검색창 (가운데 정렬) -->
  <div class="d-flex justify-content-center">
    <form class="position-relative" style="width: 300px;">
      <input class="form-control search-input search form-control-sm" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
      <svg class="svg-inline--fa fa-magnifying-glass search-box-icon position-absolute top-50 end-0 translate-middle-y me-2"
        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="pointer-events: none;">
        <path fill="currentColor"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
        </path>
      </svg>
    </form>
  </div>

  <!-- 추가 버튼 (오른쪽 고정) -->
  <button class="btn btn-sm btn-primary position-absolute top-0 end-0" type="button"
  	data-bs-toggle="modal" data-bs-target="#addPartnerDirectoryModal">
    인원 추가
  </button>
</div>

    <!-- 테이블 본문 -->
    <div class="table-responsive">
      <table class="table table-striped table-sm fs-9 mb-0 text-center">
        <thead class="text-center align-middle">
			<tr>
				<th class="sort" data-sort="no" style="width: 5%;">번호</th>
				<th class="sort" data-sort="name" style="width: 12%;">이름</th>
				<th class="sort" data-sort="companyName" style="width: 15%;">회사명</th>
				<th class="sort" data-sort="email" style="width: 17%;">이메일</th>
				<th class="sort" data-sort="phone" style="width: 12%;">전화번호</th>
				<th class="sort" data-sort="department" style="width: 12%;">부서명</th>
				<th class="sort" data-sort="team" style="width: 12%;">팀명</th>
				<th class="sort" data-sort="position" style="width: 10%;">직급</th>
				<th style="width: 5%;"></th>
			</tr>
        </thead>
        <tbody class="list align-middle">

		<!-- 외부업체 인원 1 -->
		<tr>
			<td class="no">1</td>
			<td class="name">정재익</td>
			<td class="hiredate">에이스솔루션</td>
			<td class="email">aceleft@acesol.co.kr</td>
			<td class="phone">010-2345-6789</td>
			<td class="department">기술지원부</td>
			<td class="team">현장대응팀</td>
			<td class="position">이사</td>
			<td class="align-middle text-end pe-0">
				<div class="btn-reveal-trigger position-static">
					<button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
						<i class="fas fa-ellipsis fs-10"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-end py-2">
						<a class="dropdown-item" href="#!">수정</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-danger" href="#!">삭제</a>
					</div>
				</div>
			</td>
		</tr>
		<!-- 외부업체 인원 2 -->
		<tr>
			<td class="no">2</td>
			<td class="name">황정현</td>
			<td class="hiredate">넥스트링크</td>
			<td class="email">hjh@nextlink.kr</td>
			<td class="phone">010-9876-5432</td>
			<td class="department">서비스운영부</td>
			<td class="team">QA팀</td>
			<td class="position">차장</td>
			<td class="align-middle text-end pe-0">
				<div class="btn-reveal-trigger position-static">
					<button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
						<i class="fas fa-ellipsis fs-10"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-end py-2">
						<a class="dropdown-item" href="#!">수정</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-danger" href="#!">삭제</a>
					</div>
				</div>
			</td>
		</tr>



        </tbody>
      </table>
    </div>

    <!-- 페이징? -->
    <div class="d-flex justify-content-center mt-3">
     <!--  <span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 4 <span class="text-body-tertiary"> Items of </span>4</span> -->
      <div class="d-flex">
        <button class="page-link disabled" data-list-pagination="prev" disabled><i class="fas fa-chevron-left"></i></button>
        <ul class="mb-0 pagination">
          <li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li>
        </ul>
        <button class="page-link pe-0" data-list-pagination="next" disabled><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>    
</div>    
    


<!-- 회의실 추가 모달 -->
<div class="modal fade" id="addPartnerDirectoryModal" tabindex="-1" aria-labelledby="addPartnerDirectoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- 헤더 -->
      <div class="modal-header">
        <h5 class="modal-title" id="addPartnerDirectoryModalLabel">회의실 추가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- 바디 -->
      <div class="modal-body">
        <form id="addPartnerDirectoryForm">
          <div class="mb-3">
            <label for="roomName" class="form-label">이름</label>
            <input type="text" class="form-control form-control-sm" id="name" placeholder="예: 홍길동">
          </div>
          <div class="mb-3">
            <label for="roomLocation" class="form-label">회사명</label>
            <input type="text" class="form-control form-control-sm" id="companyName" placeholder="예: 이룸컴퍼니">
          </div>
          <div class="mb-3">
            <label for="roomCapacity" class="form-label">이메일</label>
            <input type="number" class="form-control form-control-sm" id="email" placeholder="예: example@exp.co.kr">
          </div>
          <div class="mb-3">
            <label for="roomCapacity" class="form-label">전화번호</label>
            <input type="number" class="form-control form-control-sm" id="phone" placeholder="예: 010-1234-5678">
          </div>
          <div class="mb-3">
            <label for="roomCapacity" class="form-label">부서명</label>
            <input type="number" class="form-control form-control-sm" id="department" placeholder="예: OO부">
          </div>
          <div class="mb-3">
            <label for="roomCapacity" class="form-label">팀명</label>
            <input type="number" class="form-control form-control-sm" id="team" placeholder="예: OO팀">
          </div>
          <div class="mb-3">
            <label for="roomCapacity" class="form-label">직급</label>
            <input type="number" class="form-control form-control-sm" id="job" placeholder="예: 부장">
          </div>
        </form>
      </div>

      <!-- 푸터 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary btn-sm" form="addMeetingroomForm">등록</button>
      </div>
    </div>
  </div>
</div>


    </main>
  </body>
</html>