<!DOCTYPE html>
<html
	lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/include/layout}"
>
<head>
<meta charset="UTF-8">
<title>직원 주소록</title>
</head>
<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top" layout:fragment="content">
<div class="mb-9" data-collapse-filemanager-sidebar="data-collapse-filemanager-sidebar">
          <h2 class="mb-4">주소록 트리 테스트</h2>
          <div class="row gx-4">
            <div class="col-auto file-manager-sidebar">
              <div class="phoenix-offcanvas phoenix-offcanvas-fixed bg-body scrollbar overflow-x-hidden" id="fileManagerSideBar" data-breakpoint="lg">
                <div class="d-flex flex-between-center">
                  <h5 class="mb-2">ㅇㅇ 주소록</h5>
                  <button class="btn p-0 fs-8 d-lg-none" data-phoenix-dismiss="offcanvas"><span class="fa-solid fa-xmark" data-fa-transform="up-3"></span></button>
                </div>
                <ul class="mb-0 treeview" id="treeviewExample">
                  <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-1-1" role="button" aria-expanded="false">
                      <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>이룸 컴퍼니
                      </p>
                    </a>
                    <ul class="collapse treeview-list" id="treeviewExample-1-1" data-show="true">
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-1" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap">
                          <span class="fa-solid fa-folder treeview-icon"></span>부서명1
                          </p>
                        </a>
                        
                        <ul class="collapse treeview-list" id="treeviewExample-2-1" data-show="false">
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-lines"></span>팀명1
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-image"></span>팀명2
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>팀명3
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-2" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>UI Design
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-2" data-show="false">
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>Pages.zip
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-3" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon text-info-light"></span>Brand Identity
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-3" data-show="false">
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-word"></span>information.doc
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-4" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Source Code
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-4" data-show="false">
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-html5"></span>getting-started.html
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>Source Code.zip
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-5" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Code Backup
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-5" data-show="true">
                          <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-3-1" role="button" aria-expanded="false">
                              <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Files
                              </p>
                            </a>
                            <ul class="collapse treeview-list" id="treeviewExample-3-1" data-show="false">
                              <li class="treeview-list-item">
                                <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                    <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>main.zip
                                    </p>
                                  </a></div>
                              </li>
                            </ul>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file"></span>Report.docx
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>backup.zip
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-6" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Landing
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-6" data-show="true">
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-image"></span>Landing.png
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-3-2" role="button" aria-expanded="false">
                              <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Images
                              </p>
                            </a>
                            <ul class="collapse treeview-list" id="treeviewExample-3-2" data-show="false">
                              <li class="treeview-list-item">
                                <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                    <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>images.zip
                                    </p>
                                  </a></div>
                              </li>
                            </ul>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-html5"></span>index.html
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-css3-alt"></span>Style.css
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-2-7" role="button" aria-expanded="false">
                          <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Travel<span class="treeview-badge">4</span><span class="treeview-dot bg-danger"></span>
                          </p>
                        </a>
                        <ul class="collapse treeview-list" id="treeviewExample-2-7" data-show="true">
                          <li class="treeview-list-item"><a data-bs-toggle="collapse" href="#treeviewExample-3-3" role="button" aria-expanded="false">
                              <p class="treeview-text text-nowrap"><span class="fa-solid fa-folder treeview-icon"></span>Files
                              </p>
                            </a>
                            <ul class="collapse treeview-list" id="treeviewExample-3-3" data-show="false">
                              <li class="treeview-list-item">
                                <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                    <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-zipper"></span>main.zip
                                    </p>
                                  </a></div>
                              </li>
                            </ul>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-html5"></span>index.html
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-css3-alt"></span>Style.css
                                </p>
                              </a></div>
                          </li>
                          <li class="treeview-list-item">
                            <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                                <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-file-lines"></span>Notes.txt
                                </p>
                              </a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="treeview-list-item">
                        <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                            <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-html5"></span>Phoenix.html
                            </p>
                          </a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-share-nodes"></span>Shared with me
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-clock"></span>Recent
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-heart"></span>Favourite
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-circle-info"></span>Spam
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-trash"></span>Trash
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-google-drive"></span>Google Drive
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-brands fa-dropbox"></span>Dropbox
                        </p>
                      </a></div>
                  </li>
                  <li class="treeview-list-item">
                    <div class="treeview-item"><a class="flex-1 ps-2 ms-2" href="#!">
                        <p class="treeview-text text-nowrap"><span class="treeview-icon fa-solid fa-cloud"></span>One Drive
                        </p>
                      </a></div>
                  </li>
                </ul><a class="btn collapse-indicator px-0 py-3 mt-3 d-flex flex-between-center" data-bs-toggle="collapse" href="#collapseStorageDetails" role="button" aria-expanded="false" aria-controls="collapseStorageDetails">
                  <h5 class="mb-0 text-body-highlight">Storage details</h5><span class="fa-solid fa-chevron-right toggle-icon storate-details-toggle fs-9 text-primary"></span>
                </a>
                <div class="progress-stacked" style="height: 10px">
                  <div class="progress h-100" role="progressbar" aria-label="Segment one" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <div class="progress-bar bg-primary-light"></div>
                  </div>
                  <div class="progress h-100" role="progressbar" aria-label="Segment one" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100" style="width: 16%">
                    <div class="progress-bar bg-info-lighter"></div>
                  </div>
                  <div class="progress h-100" role="progressbar" aria-label="Segment one" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%">
                    <div class="progress-bar bg-warning-lighter"></div>
                  </div>
                  <div class="progress h-100" role="progressbar" aria-label="Segment one" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
                    <div class="progress-bar bg-danger-lighter"></div>
                  </div>
                  <div class="progress h-100" role="progressbar" aria-label="Segment one" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%">
                    <div class="progress-bar bg-success-lighter"></div>
                  </div>
                </div>
                <h6 class="text-body mt-2 mb-0">Used: 45.8 GB (92%) of the 50 GB.</h6>
                
                
                
                <hr class="my-4" />
                <div class="text-center"> <img class="d-dark-none img-fluid" src="../../assets/img/spot-illustrations/45.png" alt="" width="98" /><img class="d-light-none img-fluid" src="../../assets/img/spot-illustrations/dark_45.png" alt="" width="98" />
                  <h5 class="mt-3 text-body fw-bolder">Upgrade to Pro</h5>
                  <h6 class="mb-3 text-body-tertiary fw-normal">Expand your storage capacity with our upgraded storage options.</h6>
                  <button class="btn btn-sm btn-primary w-100">Upgrade Now</button>
                </div>
              </div>
              <div class="phoenix-offcanvas-backdrop d-lg-none" data-phoenix-backdrop="data-phoenix-backdrop"></div>
            </div>
            
            
            <div class="col my-files">
              <div class="row g-3 flex-between-center">
                <div class="col-auto d-flex gap-2">
                  <button class="btn btn-phoenix-secondary btn-square d-lg-none" data-phoenix-toggle="offcanvas" data-phoenix-target="#fileManagerSideBar"><span class="fa-solid fa-bars"></span></button>
                  <button class="btn btn-phoenix-secondary btn-square d-none d-lg-block d-xl-none" data-toggle-sidebar="data-toggle-sidebar"><span class="fa-solid fa-bars"></span></button>
                  <button class="btn btn-primary px-sm-6"><span class="fa-solid fa-cloud-arrow-up me-2"></span>Upload</button>
                  <button class="btn btn-link text-body-secondary px-2" type="button" data-bs-toggle="modal" data-bs-target="#addFolderModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-add me-2"> </span>Add New Folder</button>
                </div>
                <div class="col-auto d-flex gap-2">
                  <div class="search-box">
                    <form class="position-relative">
                      <input class="form-control search-input search" type="search" placeholder="Search by name" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>

                    </form>
                  </div>
                  <select class="form-select w-auto">
                    <option value="1">Last 7 days</option>
                    <option value="1">Last 15 days</option>
                    <option value="1">Last 30 days</option>
                  </select>
                  <button class="btn btn-phoenix-primary btn-square" type="button" data-bs-toggle="modal" data-bs-target="#fileFilterModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter"></span></button>
                </div>
              </div>
              <div class="card mt-5">
                <div class="card-header py-3 px-4">
                  <div class="row g-3 flex-between-center">
                    <div class="col-auto">
                      <h5 class="mb-0">My Files</h5>
                    </div>
                    <div class="col-auto d-flex"><!-- <a class="btn btn-phoenix-secondary btn-square me-2" href="../../apps/file-manager/grid-view.html" data-bs-toggle="tooltip" data-bs-title="Grid view"><span class="fa-solid fa-table-cells-large"></span></a><a class="border-primary text-primary btn btn-phoenix-secondary btn-square" href="../../apps/file-manager/list-view.html" data-bs-toggle="tooltip" data-bs-title="List view"><span class="fa-solid fa-list"></span></a> -->
                      <select class="form-select mx-2 mx-sm-3">
                        <option>Sort by - Date created</option>
                        <option>Sort by - Name</option>
                        <option>Sort by - Size</option>
                      </select>
                      <div class="form-check form-switch d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" role="switch" id="viewAsGroup" data-bs-toggle="tooltip" data-bs-title="View as group" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <div class="row gx-xxl-9" id="bulk-select-body">
                  
                  
                  
                  <!-- 게시글 테이블 시작 -->
                    <div class="col my-files-table">
                      <div class="table-responsive ms-n1 ps-1 me-n1 pe-1 scrollbar" data-files-container="data-files-container" data-list='{"valueNames":["name","shared","modified","file-size"]}'>
                        <table class="table fs-9 mb-0">
                        
                          <thead>
                            <tr>
                              <th class="ps-0 pt-0 white-space-nowrap align-middle d-flex align-items-center" scope="col">
                                <div class="form-check mb-0 fs-8">
                                  <input class="form-check-input" id="bulk-select-file-manager" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                </div><span class="sort ms-8" data-sort="name">NAME</span>
                              </th>
                              <th class="sort pt-0 align-middle" scope="col" data-sort="shared" style="min-width:150px;">SHARED</th>
                              <th class="sort pt-0 align-middle" scope="col" data-sort="modified" style="min-width:150px;">LAST MODIFIED</th>
                              <th class="sort pt-0 align-middle" scope="col" style="max-width:130px;" data-sort="file-size">FILE SIZE</th>
                              <th class="sort pt-0 text-end pe-0 align-middle" scope="col"></th>
                            </tr>
                          </thead>
                          
                          <tbody class="list" id="table-latest-review-body">
                            <tr class="user-select-none">
                              <td class="align-middle white-space-nowrap py-0">
                                <div class="underline-on-hover d-flex align-items-center position-relative gap-3">
                                  <input class="form-check-input fs-8 mt-0" type="checkbox" id="1" data-bulk-select-row="data-bulk-select-row" data-file="1" />
                                  <label class="square-icon-box border border-translucent overflow-hidden stretched-link" for="1" data-file="1"><span class="fa-solid fa-folder fs-9 text-body-tertiary"></span>
                                  </label><a class="fw-semibold text-body-highlight name" href="#!">Illustrations</a>
                                </div>
                              </td>
                              <td class="align-middle shared white-space-nowrap ps-3">
                              </td>
                              <td class="align-middle modified time white-space-nowrap fw-semibold text-body-tertiary">2 hours ago</td>
                              <td class="align-middle file-size white-space-nowrap fw-semibold text-body-tertiary">20 Items</td>
                              <td class="align-middle text-end time white-space-nowrap">
                                <div class="btn-reveal-trigger">
                                  <button class="btn btn-sm btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body-tertiary"></span></button>
                                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item fw-semibold" href="#">Share</a><a class="dropdown-item fw-semibold" href="#">Download</a><a class="dropdown-item fw-semibold" href="#">Duplicate</a><a class="dropdown-item fw-semibold" href="#">Move</a><a class="dropdown-item fw-semibold" href="#">Rename</a><a class="dropdown-item fw-semibold" href="#">Move to Bin</a>
                                    <hr class="dropdown-divider" /><a class="dropdown-item fw-semibold text-danger" href="#">Delete</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          
                        </table>
                      </div>
                    </div>
                    
                    
                    
                    
                    <div class="col-auto px-0 px-xxl-5 border-start-xxl border-translucent" data-details-container="data-details-container">
                      <div class="phoenix-offcanvas file-details-offcanvas scrollbar overflow-x-hidden bg-body-emphasis" id="fileDetailsOffcanvas" data-breakpoint="xxl">
                        <button class="btn p-0 fs-8 d-xxl-none position-absolute top-0 end-0 mt-4 me-4" data-phoenix-dismiss="offcanvas"><span class="fa-solid fa-xmark"></span></button>
                        <div data-file-details="data-file-details">
                          <div class="text-center px-4"><img class="d-dark-none img-fluid" src="../../assets/img/spot-illustrations/46.png" alt="" /><img class="d-light-none img-fluid" src="../../assets/img/spot-illustrations/dark_46.png" alt="" />
                            <h5 class="mt-4">Select an item to view more information</h5>
                          </div>
                        </div>
                      </div>
                      <div class="phoenix-offcanvas-backdrop d-xxl-none" data-phoenix-backdrop="data-phoenix-backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2025 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-body-tertiary text-opacity-85">v1.22.0</p>
            </div>
          </div>
        </footer>
      </div>
      <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
        <div class="modal-dialog">
          <div class="modal-content mt-15 rounded-pill">
            <div class="modal-body p-0">
              <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>

                </form>
                <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
                  <button class="btn btn-link p-0" aria-label="Close"></button>
                </div>
                <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
                  <div class="scrollbar-overlay" style="max-height: 30rem;">
                    <div class="list pb-3">
                      <h6 class="dropdown-header text-body-highlight fs-10 py-2">24 <span class="text-body-quaternary">results</span></h6>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Recently Searched </h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Products</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="h-100 w-100 object-fit-cover rounded-3" src="../../assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">MacBook Air - 13″</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="img-fluid" src="../../assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">MacBook Pro - 13″</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">30 Sep at 12:30 PM</span></p>
                          </div>
                        </a>

                      </div>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Quick Links</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Files</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-file-zipper text-body" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-file-lines text-body" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-image text-body" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                          </div>
                        </a>

                      </div>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Members</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                          <div class="avatar avatar-l status-online  me-2 text-body">
                            <img class="rounded-circle " src="../../assets/img/team/40x40/10.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">Carry Anna</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary">anna@technext.it</p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                          <div class="avatar avatar-l  me-2 text-body">
                            <img class="rounded-circle " src="../../assets/img/team/40x40/12.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">John Smith</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary">smith@technext.it</p>
                          </div>
                        </a>

                      </div>
                      <hr class="my-0" />
                      <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Related Searches</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-brands fa-firefox-browser text-body" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-brands fa-chrome text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                    </div>
                    <div class="text-center">
                      <p class="fallback fw-bold fs-7 d-none">No Result Found.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      </script>
      <div class="support-chat-container">
        <div class="container-fluid support-chat">
          <div class="card bg-body-emphasis">
            <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
              <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
              <div class="btn-reveal-trigger">
                <button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
              </div>
            </div>
            <div class="card-body chat p-0">
              <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a>
                </div>
                <div class="text-center mt-auto">
                  <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="../../assets/img/team/30.webp" alt="" /></div>
                  <h5 class="mt-2 mb-3">Eric</h5>
                  <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
              <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4">
                <input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" />
                <label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label>
                <input class="d-none" type="file" accept="image/*" id="supportChatPhotos" />
                <label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label>
                <input class="d-none" type="file" id="supportChatAttachment" />
              </div>
              <button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
            </div>
          </div>
        </div>
        <button class="btn btn-support-chat p-0 border border-translucent"><span class="fs-8 btn-text text-primary text-nowrap">Chat demo</span><span class="ping-icon-wrapper mt-n4 ms-n6 mt-sm-0 ms-sm-2 position-absolute position-sm-relative"><span class="ping-icon-bg"></span><span class="fa-solid fa-circle ping-icon"></span></span><span class="fa-solid fa-headset text-primary fs-8 d-sm-none"></span><span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    
        <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
    <script src="../../vendors/feather-icons/feather.min.js"></script>
    <script src="../../vendors/dayjs/dayjs.min.js"></script>
    <script src="../../assets/js/phoenix.js"></script>
    <script src="../../assets/js/pages/file-manager.js"></script>
    <script src="../../vendors/glightbox/glightbox.min.js"></script>
    
</body>
</html>