<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 화면 전화 때는 고려할 필요 없지만 post, put, delete에서는 csrf 설정 필요 -->
	<!-- 모든 화면에 적용되는 layout이기에 여기에 사용자 브라우저 정보를 가지고 있는 _csrf 설정 -->
	<meta id="_csrf" name="_csrf" th:attr="content=${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:attr="content=${_csrf.headerName}"/>

    <!--    Document Title-->
    <title>Eroom</title>

    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicons/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicons/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicons/favicon-16x16.png}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicons/favicon.ico}"/>
    <link rel="manifest" th:href="@{/assets/img/favicons/manifest.json}"/>
    <meta name="msapplication-TileImage" th:content="@{/assets/img/favicons/mstile-150x150.png}"/>
    <meta name="theme-color" content="#ffffff"/>
    <script th:src="@{/vendors/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/config.js}"></script>

    <!--    Stylesheets-->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet"/>
    <link th:href="@{/vendors/simplebar/simplebar.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"/>
    <link th:href="@{/assets/css/theme-rtl.min.css}" type="text/css" rel="stylesheet" id="style-rtl"/>
    <link th:href="@{/assets/css/theme.min.css}" type="text/css" rel="stylesheet" id="style-default"/>
    <link th:href="@{/assets/css/user-rtl.min.css}" type="text/css" rel="stylesheet" id="user-style-rtl"/>
    <link th:href="@{/assets/css/user.min.css}" type="text/css" rel="stylesheet" id="user-style-default"/>
    
   	<!--  SignaturePad 라이브러리 -->
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>
    <!-- 커서 깜빡임 제거 -->
    <!-- <style>
    	* {
    		caret-color: transparent;
		}
    </style> -->
    
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
    <link th:href="@{/vendors/leaflet/leaflet.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/leaflet.markercluster/MarkerCluster.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/leaflet.markercluster/MarkerCluster.Default.css}" rel="stylesheet"/>
  </head>
	<body>
	<main class="main" id="top">
	<th:block th:replace="~{/include/nav :: navLayout}"></th:block>
	<th:block th:replace="~{/include/header :: headerLayout}"></th:block>
	<div class="content">
	<th:block layout:fragment="content"></th:block>
	<!-- <th:block th:replace="~{include/footer :: footerLayout}"></th:block> -->
	</div>
	</main>
	<!-- 웹소켓 연결(현재 approval 페이지 들어갈때만 웹소켓 연결 해뒀음) -->
	<script>
	fetch('/session/employeeNo')
	  .then(response => response.json())
	  .then(employeeNo => {   // 여기 data ❌ employeeNo ⭕
	    console.log(employeeNo);  // 그냥 숫자 찍힘

	    const isApprovalPage = location.pathname.startsWith('/approval');

	    if (employeeNo && isApprovalPage) {
	      const approvalSocket = new WebSocket(
	        (location.protocol === 'https:' ? 'wss://' : 'ws://') + location.host + '/ws/approval?employeeNo=' + employeeNo
	      );

	      approvalSocket.onopen = function() { console.log('웹소켓 연결 성공!'); };
	      approvalSocket.onmessage = function(event) { alert(event.data); };
	      approvalSocket.onclose = function() { console.log('웹소켓 연결 종료'); };
	      approvalSocket.onerror = function(error) { console.error('웹소켓 에러 발생:', error); };
	    }
	  })
	  .catch(error => {
	    console.error('employeeNo 조회 실패:', error);
	  });
	</script>
	
	
	
	
	
	<script th:src="@{/vendors/popper/popper.min.js}"></script>
	<script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
	<script th:src="@{/vendors/is/is.min.js}"></script>
	<script th:src="@{/vendors/fontawesome/all.min.js}"></script>
	<script th:src="@{/vendors/lodash/lodash.min.js}"></script>
	<script th:src="@{/vendors/list.js/list.min.js}"></script>
	<script th:src="@{/vendors/feather-icons/feather.min.js}"></script>
	<script th:src="@{/vendors/dayjs/dayjs.min.js}"></script>
	<script th:src="@{/vendors/leaflet/leaflet.js}"></script>
	<script th:src="@{/vendors/leaflet.markercluster/leaflet.markercluster.js}"></script>
	<script th:src="@{/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js}"></script>
	<script th:src="@{/assets/js/phoenix.js}"></script>
	<script th:src="@{/vendors/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/js/dashboards/ecommerce-dashboard.js}"></script>
	<script th:src="@{/vendors/fullcalendar/index.global.min.js}"></script>
	<script th:src="@{/vendors/flatpickr/flatpickr.min.js}"></script>
	<script th:src="@{/assets/js/pages/calendar.js}"></script>
	<script th:src="@{/assets/js/pages/kanban.js}"></script>
    <script th:src="@{/vendors/sortablejs/Sortable.min.js}"></script>
    <script th:src="@{/vendors/dropzone/dropzone-min.js}"></script>
    
   	<!--  SignaturePad 라이브러리 -->
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>
</body>
</html>