<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navLayout">
<nav class="navbar navbar-vertical navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
             
              <li class="nav-item">
              
              	<!-- parent pages-->
              	<!-- 홈 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1 active" th:href="@{/}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">홈</span></span>
                    </div>
                  </a>
                </div>
                
             	<!-- parent pages-->
              	<!-- 근태 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/attendance/list}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">근태</span></span>
                    </div>
                  </a>
                </div>
                
                
                <!-- parent pages-->
                <!-- 주소록 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-directory" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-directory">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">주소록</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-directory">
                      <li class="collapsed-nav-item-title d-none">주소록
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/directory/employee}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회사</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/directory/partner}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">협력업체</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 이메일 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">이메일</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-email">
                      <li class="collapsed-nav-item-title d-none">이메일
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/mail/receiverTo}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">받은 메일함</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/mail/receiverCc}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">보낸 메일함</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/mail/draft}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">임시 보관함</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/mail/important}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">중요 메일함</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/mail/trash}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">휴지통</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                
                <!-- parent pages-->
              	<!-- 채팅 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/chat/list}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">채팅</span></span>
                    </div>
                  </a>
                </div>
                
                <!-- parent pages-->
                <!-- 결재 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-approval" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-approval">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">결재</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-approval">
                      <li class="collapsed-nav-item-title d-none">결재
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/approval/myRequestedApprovals">
                          <div class="d-flex align-items-center"><span class="nav-link-text">요청한 결재</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/approval/receivedApprovals">
                          <div class="d-flex align-items-center"><span class="nav-link-text">요청 받은 결재</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/approval/referencedApprovals">
                          <div class="d-flex align-items-center"><span class="nav-link-text">참조된 결재</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/approval/agreementApprovals">
                          <div class="d-flex align-items-center"><span class="nav-link-text">합의된 결재</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/approval/withdrawnApprovals">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회수한 결재</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 프로젝트 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-project" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-project">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">프로젝트</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-project">
                      <li class="collapsed-nav-item-title d-none">프로젝트
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/create-new.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">전체</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-list-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">진행 중</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-card-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">진행 예정</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-board-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">완료</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/todo-list.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">보류</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 캘린더 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-calender" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-calender">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">캘린더</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-calender">
                      <li class="collapsed-nav-item-title d-none">캘린더
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/create-new.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">전체</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-list-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">개인</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-card-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">팀</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-board-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">부서</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/todo-list.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회사</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 예약 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-reservation" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-reservation">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">예약</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-reservation">
                      <li class="collapsed-nav-item-title d-none">예약
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/email/inbox.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">숙직실 예약</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/email/email-detail.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">차량 예약</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/email/compose.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회의실 예약</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 게시판 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-board" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-board">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="folder"></span></span><span class="nav-link-text">게시판</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-board">
                      <li class="collapsed-nav-item-title d-none">게시판
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/board/notice}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">공지 게시판</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/board/anonymous}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">익명 게시판</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
                <!-- 드라이브 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-drive" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-drive">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="trello"></span></span><span class="nav-link-text">드라이브</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-drive">
                      <li class="collapsed-nav-item-title d-none">드라이브
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/drive/company}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회사 저장소</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/drive/department}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">부서 저장소</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/drive/team}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">팀 저장소</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/drive/personal}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">개인 저장소</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
              	<!-- 마이페이지 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">마이페이지</span></span>
                    </div>
                  </a>
                </div>
                
                <!-- parent pages-->
                <!-- 관리자 메뉴 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-admin" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-admin">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">관리자 메뉴</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-admin">
                      <li class="collapsed-nav-item-title d-none">관리자 메뉴
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/create-new.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회의실 목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-list-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">차량 목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-card-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">숙직실 목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/project-board-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">주소록 관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/apps/project-management/todo-list.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회원 관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!-- parent pages-->
              	<!-- 알림 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">알림</span></span>
                    </div>
                  </a>
                </div>
                
                 <!-- parent pages-->
                 <!-- 설문조사 -->
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-survey" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-survey">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="trello"></span></span><span class="nav-link-text">설문조사</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-survey">
                      <li class="collapsed-nav-item-title d-none">설문조사
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/survey}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">전체 설문조사</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/survey}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">진행중인 설문조사</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" th:href="@{/survey}">
                          <div class="d-flex align-items-center"><span class="nav-link-text">마감된 설문조사</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
              
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
        </div>
      </nav>
  </th:block>
</html>