<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navLayout">
<nav class="navbar navbar-vertical navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
             
              <li class="nav-item">
              
              	<!-- parent pages-->
              	<!-- 홈 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/}" th:classappend="${requestURI == '/' or requestURI == ''} ? 'active'"
                 role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">홈</span></span>
                    </div>
                  </a>
                </div>
                
             	<!-- parent pages-->
              	<!-- 근태 -->
                <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/attendance/list}" th:classappend="${(requestURI != null and requestURI.startsWith('/attendance')) ? 'active' : ''}" role="button" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">근태</span></span>
                    </div>
                  </a>
                </div>
                
                <!-- parent pages-->
				<!-- 주소록 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-directory"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/directory')) ? 'true' : ''}"
				     aria-controls="nv-directory">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper">
				        <span class="fas fa-caret-right dropdown-indicator-icon"></span>
				      </div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">주소록</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-directory"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/directory')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">주소록</li>
				
				      <!-- 회사 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/directory/employee}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/directory/employee')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">회사</span>
				          </div>
				        </a>
				      </li>
				
				      <!-- 협력업체 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/directory/partner}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/directory/partner')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">협력업체</span>
				          </div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
				

                
                <!-- parent pages-->
				<!-- 이메일 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-email"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/mail')) ? 'true' : ''}"
				     aria-controls="nv-email">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper">
				        <span class="fas fa-caret-right dropdown-indicator-icon"></span>
				      </div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">이메일</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-email"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/mail')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">이메일</li>
				
				      <!-- 받은 메일함 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/mail/receiverTo}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/mail/receiverTo')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">받은 메일함</span>
				          </div>
				        </a>
				      </li>
				
				      <!-- 보낸 메일함 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/mail/sent}"
							th:classappend="${(requestURI != null and requestURI.startsWith('/mail/sent')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">보낸 메일함</span>
				          </div>
				        </a>
				      </li>
				
				      <!-- 임시 보관함 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/mail/draft}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/mail/draft')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">임시 보관함</span>
				          </div>
				        </a>
				      </li>
				
				      <!-- 중요 메일함 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/mail/important}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/mail/important')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">중요 메일함</span>
				          </div>
				        </a>
				      </li>

				      <!-- 휴지통 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/mail/trash}"
				           th:classappend="${(requestURI != null and requestURI.startsWith('/mail/trash')) ? 'active' : ''}">
				          <div class="d-flex align-items-center">
				            <span class="nav-link-text">휴지통</span>
				          </div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
				<!-- parent pages-->
				<!-- 채팅 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link label-1"
				     th:href="@{/chat/list}"
				     th:classappend="${(requestURI != null and requestURI.startsWith('/chat')) ? 'active' : ''}"
				     role="button"
				     data-bs-toggle=""
				     aria-expanded="false">
				    <div class="d-flex align-items-center">
				      <span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span>
				      <span class="nav-link-text-wrapper"><span class="nav-link-text">채팅</span></span>
				    </div>
				  </a>
				</div>
                
                <!-- parent pages-->
				<!-- 결재 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-approval"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/approval')) ? 'true' : ''}"
				     aria-controls="nv-approval">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">결재</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-approval"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/approval')) ? 'show' : ''}">
				        
				      
				      <li class="collapsed-nav-item-title d-none">결재</li>
				
				      <!-- 요청한 결재 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/approval/myRequestedApprovals}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/approval/myRequestedApprovals')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">요청한 결재</span></div>
				        </a>
				      </li>
				
				      <!-- 요청 받은 결재 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/approval/receivedApprovals}"
			       		 	th:classappend="${(requestURI != null and requestURI.startsWith('/approval/receivedApprovals')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">요청 받은 결재</span></div>
				        </a>
				      </li>
				
				      <!-- 참조된 결재 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/approval/referencedApprovals}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/approval/referencedApprovals')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">참조된 결재</span></div>
				        </a>
				      </li>
				
				      <!-- 합의된 결재 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/approval/agreementApprovals}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/approval/agreementApprovals')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">합의된 결재</span></div>
				        </a>
				      </li>
				
				      <!-- 회수한 결재 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/approval/withdrawnApprovals}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/approval/withdrawnApprovals')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회수한 결재</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
                <!-- parent pages-->
				<!-- 프로젝트 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-project"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/project')) ? 'true' : ''}"
				     aria-controls="nv-project">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">프로젝트</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-project"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/project')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">프로젝트</li>
				
				      <!-- 전체 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/project/all}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/project/all')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">전체</span></div>
				        </a>
				      </li>
				
				      <!-- 진행 중 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/project/doing}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/project/doing')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">진행 중</span></div>
				        </a>
				      </li>
				
				      <!-- 진행 예정 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/project/yet}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/project/yet')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">진행 예정</span></div>
				        </a>
				      </li>
				
				      <!-- 완료 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/project/done}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/project/done')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">완료</span></div>
				        </a>
				      </li>
				
				      <!-- 보류 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/project/hold}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/project/hold')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">보류</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
                <!-- parent pages-->
				<!-- 캘린더 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-calender"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/calendar')) ? 'true' : ''}"
				     aria-controls="nv-calender">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">캘린더</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-calender"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/calendar')) ? 'show' : ''}">
				
				      <li class="collapsed-nav-item-title d-none">캘린더</li>
				
				      <!-- 전체 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/calendar}"
				           th:classappend="${requestURI == '/calendar'} ? 'active'">
				          <div class="d-flex align-items-center"><span class="nav-link-text">전체</span></div>
				        </a>
				      </li>
				
				      <!-- 개인 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/calendar/employee}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/calendar/employee')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">개인</span></div>
				        </a>
				      </li>
				
				      <!-- 팀 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/calendar/myteam}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/calendar/myteam')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">팀</span></div>
				        </a>
				      </li>
				
				      <!-- 부서 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/calendar/department}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/calendar/department')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">부서</span></div>
				        </a>
				      </li>
				
				      <!-- 회사 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/calendar/company}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/calendar/company')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회사</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>

                
                <!-- parent pages-->
				<!-- 예약 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-reservation"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/reservation')) ? 'true' : ''}"
				     aria-controls="nv-reservation">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="mail"></span></span>
				      <span class="nav-link-text">예약</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-reservation"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/reservation')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">예약</li>
				
				      <!-- 숙직실 예약 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/reservation/sleep}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/reservation/sleep')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">숙직실 예약</span></div>
				        </a>
				      </li>
				
				      <!-- 차량 예약 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/reservation/vehicle}"
				        	th:classappend="${(requestURI != null and requestURI.startsWith('/reservation/vehicle')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">차량 예약</span></div>
				        </a>
				      </li>
				
				      <!-- 회의실 예약 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/reservation/meetingroom}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/reservation/meetingroom')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회의실 예약</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
    
                <!-- parent pages-->
				<!-- 게시판 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-board"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/board')) ? 'true' : ''}"
				     aria-controls="nv-board">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="folder"></span></span>
				      <span class="nav-link-text">게시판</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-board"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/board')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">게시판</li>
				
				      <!-- 공지 게시판 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/board/notice}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/board/notice')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">공지 게시판</span></div>
				        </a>
				      </li>
				
				      <!-- 익명 게시판 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/board/anonymous}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/reservation/anonymous')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">익명 게시판</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
                <!-- parent pages-->
				<!-- 드라이브 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-drive"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/drive')) ? 'true' : ''}"
				     aria-controls="nv-drive">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="trello"></span></span>
				      <span class="nav-link-text">드라이브</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-drive"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/drive')) ? 'show' : ''}">
				
				      <li class="collapsed-nav-item-title d-none">드라이브</li>
				
				      <!-- 회사 저장소 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/drive/company}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/drive/company')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회사 저장소</span></div>
				        </a>
				      </li>
				
				      <!-- 부서 저장소 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/drive/department}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/drive/department')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">부서 저장소</span></div>
				        </a>
				      </li>
				
				      <!-- 팀 저장소 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/drive/team}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/drive/team')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">팀 저장소</span></div>
				        </a>
				      </li>
				
				      <!-- 개인 저장소 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/drive/personal}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/drive/personal')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">개인 저장소</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
                <!-- parent pages-->
				<!-- 마이페이지 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link label-1"
				     th:href="@{/mypage}"
				     th:classappend="${(requestURI != null and requestURI.startsWith('/mypage')) ? 'active' : ''}"
				     role="button"
				     data-bs-toggle=""
				     aria-expanded="false">
				    <div class="d-flex align-items-center">
				      <span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span>
				      <span class="nav-link-text-wrapper"><span class="nav-link-text">마이페이지</span></span>
				    </div>
				  </a>
				</div>
                
                <!-- parent pages-->
				<!-- 관리자 메뉴 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-admin"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/admin')) ? 'true' : ''}"
				     aria-controls="nv-admin">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="clipboard"></span></span>
				      <span class="nav-link-text">관리자 메뉴</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-admin"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/admin')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">관리자 메뉴</li>
				
				      <!-- 회의실 목록 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/admin/meetingroom}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/admin/meetingroom')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회의실 목록</span></div>
				        </a>
				      </li>
				
				      <!-- 차량 목록 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/admin/vehicle}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/admin/vehicle')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">차량 목록</span></div>
				        </a>
				      </li>
				
				      <!-- 숙직실 목록 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/admin/sleep}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/admin/sleep')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">숙직실 목록</span></div>
				        </a>
				      </li>
				
				      <!-- 주소록 관리 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/admin/directoryManagement}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/admin/directoryManagement')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">주소록 관리</span></div>
				        </a>
				      </li>
				
				      <!-- 회원 관리 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/admin/employeeManagement}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/admin/employeeManagement')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">회원 관리</span></div>
				        </a>
				      </li>
				
				    </ul>
				  </div>
				</div>
                
                <!-- parent pages-->
				<!-- 알림 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link label-1"
				     th:href="@{/notification}"
				     th:classappend="${(requestURI != null and requestURI.startsWith('/notification')) ? 'active' : ''}"
				     role="button"
				     data-bs-toggle=""
				     aria-expanded="false">
				    <div class="d-flex align-items-center">
				      <span class="nav-link-icon"><span class="fa-solid fa-chart-gantt"></span></span>
				      <span class="nav-link-text-wrapper"><span class="nav-link-text">알림</span></span>
				    </div>
				  </a>
				</div>
                
                 <!-- parent pages-->
				<!-- 설문조사 -->
				<div class="nav-item-wrapper">
				  <a class="nav-link dropdown-indicator label-1"
				     href="#nv-survey"
				     role="button"
				     data-bs-toggle="collapse"
				     th:attr="aria-expanded=${(requestURI != null and requestURI.startsWith('/survey')) ? 'true' : ''}"
				     aria-controls="nv-survey">
				    <div class="d-flex align-items-center">
				      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div>
				      <span class="nav-link-icon"><span data-feather="trello"></span></span>
				      <span class="nav-link-text">설문조사</span>
				    </div>
				  </a>
				  <div class="parent-wrapper label-1">
				    <ul class="nav collapse parent"
				        data-bs-parent="#navbarVerticalCollapse"
				        id="nv-survey"
				        th:classappend="${(requestURI != null and requestURI.startsWith('/survey')) ? 'show' : ''}">
				      
				      <li class="collapsed-nav-item-title d-none">설문조사</li>
				
				      <!-- 전체 설문조사 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/survey/list}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/survey/list')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">전체 설문조사</span></div>
				        </a>
				      </li>
				
				      <!-- 진행중인 설문조사 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/survey/ongoing}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/survey/ongoing')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">진행중인 설문조사</span></div>
				        </a>
				      </li>
				
				      <!-- 마감된 설문조사 -->
				      <li class="nav-item">
				        <a class="nav-link"
				           th:href="@{/survey/closed}"
					        th:classappend="${(requestURI != null and requestURI.startsWith('/survey/closed')) ? 'active' : ''}">
				          <div class="d-flex align-items-center"><span class="nav-link-text">마감된 설문조사</span></div>
				        </a>
				      </li>
					
				    </ul>
				  </div>
				</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
        </div>
      </nav>
  </th:block>
</html>