<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
  <body>
    <main class="main" id="top" layout:fragment="content">
      <!-- 여기에 요소 넣으면 됩니다. -->
	     <a class="nav-link" th:href="@{/employeecalendar}"><div class="d-flex align-items-center"><span class="nav-link-text">1. 개인 캘린더</span></div></a>                   
	     <a class="nav-link" th:href="@{/myteamcalendar}"><div class="d-flex align-items-center"><span class="nav-link-text">2. 마이 팀 캘린더</span></div></a>                   
	     <a class="nav-link" th:href="@{/companycalendar}"><div class="d-flex align-items-center"><span class="nav-link-text">3. 회사 캘린더</span></div></a>                   
	     <a class="nav-link" th:href="@{/departmentcalendar}"><div class="d-flex align-items-center"><span class="nav-link-text">4. 부서 캘린더</span></div></a>                   
		 <a href="/survey">설문</a>
    </main>
  </body>
</html>