<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
  <body>
    <main class="main" id="top" layout:fragment="content">
      <!-- 여기에 요소 넣으면 됩니다. -->
	     <a class="nav-link" th:href="@{/calendar/employee}"><div class="d-flex align-items-center"><span class="nav-link-text">1. 개인 일정</span></div></a>                   
      
    </main>
  </body>
</html>