<!DOCTYPE html>
<html 
lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/include/layout}">
  <body>
    <main class="main" id="top" layout:fragment="content">
		<div class="d-flex align-items-center justify-content-between gap-2">
  <!-- 왼쪽: 뒤로가기 -->
  <div class="d-flex align-items-center gap-2">
    <a th:href="@{/project/all}" class="text-decoration-none text-dark">
      <i class="uil uil-angle-left-b fs-5"></i>
    </a>
    <h4 class="text-primary mb-0 fs-5" th:text="${project.project_name}">프로젝트 디테일</h4>
    <span class="badge badge-phoenix fs-10 badge-phoenix-success" th:text="${project.proceed}">completed</span>
  </div>

  <!-- 오른쪽: 설정 -->
  <div>
    <i class="uil uil-setting fs-6 cursor-pointer"></i>
  </div>
</div>

    	<br>
		<ul class="nav nav-phoenix-pills mt-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/project/detail/{id}/main(id=${project.project_no})}" th:classappend="${requestURI.endsWith('/main')} ? ' active' : ''">메인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/project/detail/{id}/developmentTab(id=${project.project_no})}" th:classappend="${requestURI.endsWith('/developmentTab')} ? ' active' : ''">개발</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/project/detail/{id}/todo(id=${project.project_no})}" th:classappend="${requestURI.endsWith('/todo')} ? ' active' : ''">할 일</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/project/detail/{id}/files(id=${project.project_no})}" th:classappend="${requestURI.endsWith('/files')} ? ' active' : ''">파일</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/project/detail/{id}/minutes(id=${project.project_no})}" th:classappend="${requestURI.endsWith('/minutes')} ? ' active' : ''">회의록</a>
            </li>
          </ul>

			<br>
			
	        <div class="row g-5" style="height: 100vh; margin-left: 0.5px; margin-right: 0.5px;">
			  <div class="col-xl-9">
			    왼쪽 9
			    <div class="row">
			      <div class="col-xl-4" style="background-color:red; height: 200px;">
					<!--   <ul class="list-unstyled mb-0">
					    <li th:each="member : ${project.project_members}" th:text="${member.employee.employeeName}">
					      직원 이름
					    </li>
					  </ul> -->
					  <span>PM : </span>
					  <span th:each="projectMember : ${project.project_members}"
					  		th:if="${projectMember.project_manager == 'Y'}"
					  		th:text="${projectMember.project_member.employeeName}">PM 이름</span>
				</div>

			      <div class="col-xl-8" style="background-color:blue; height: 200px;">
			        왼쪽 내부 6 (파랑)
			      </div>
			    </div>
			  </div>
			  <div class="col-xl-3" style="background:#EFF2F6;">
			    오른쪽 3
			  </div>
			</div>


    </main>
  </body>
</html>